<div id="about" class="w3-row-padding w3-padding-32 w3-container w3-blue">
    <div class="w3-text-white w3-content">
    <h1>Giới thiệu</h1>
    <h5 class="w3-padding-32 text-justify">Với mục đích tăng cường trao đổi thông tin, kết quả nghiên cứu, hợp tác, quản lý trong lĩnh vực khoa học xã hội, làm rõ mối quan hệ và những đóng góp của Khoa học xã hội với phát triển bền vững của các nhà kkhoa học trong và ngoài nước, giới thiệu những kết quả và hướng nghiên cứu khoa học mới, thảo luận về các xu thế và thách thức mới đối với nhiều lĩnh vực khác nhau của đất nước trong bối cảnh hiện nay, Trường Đại học Mỏ - Địa chất tổ chức Hội thảo Khoa học Quốc gia <b>"Khoa học xã hội với phát triển bền vững 2024 (SSSD 2024)"</b></h5>
    </div>
</div>