<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="w3-row">
      <div class="section-title">
        <h2>Giới thiệu</h2>
      </div>
    </div>
    <div class="w3-row">
      <div class="w3-col l6">
        <div class="row content">
          <div class="text-justify">
            <p class="w3-text-blue w3-xlarge">Đơn vị tổ chức: <a href="https://humg.edu.vn/">Trường Đại học Mỏ
                - Địa chất (HUMG)</a></p>
            <p class="w3-large">Đơn vị đồng tổ chức:
            <ul>
              <li><a href="https://fpt.hust.edu.vn/" class="w3-text-blue"><b
                    class="w3-text-blue w3-margin-right">&#10003;</b>Trường Đại học
                  Bách Khoa Hà Nội</a></li>
              <li><a href="https://pl.tlu.edu.vn/" class="w3-text-blue"><b
                    class="w3-text-blue w3-margin-right">&#10003;</b>Trường Đại học
                  Thuỷ Lợi</a></li>
              <li><a href="https://www.utc.edu.vn/gioi-thieu/khoa-ly-luan-chinh-tri" class="w3-text-blue"><b
                    class="w3-text-blue w3-margin-right">&#10003;</b>Trường Đại học Giao
                  Thông Vận Tải</a></li>
            </ul>
              @* <a href="https://fpt.hust.edu.vn/" class="w3-text-blue">Đại học Bách Khoa Hà Nội</a>;
            <a href="https://pl.tlu.edu.vn/" class="w3-text-blue">Đại học Thuỷ Lợi</a>;
            <a href="https://www.utc.edu.vn/gioi-thieu/khoa-ly-luan-chinh-tri" class="w3-text-blue">Đại học Giao Thông
            Vận Tải</a>;
            <a href="https://khctnv.ftu.edu.vn/" class="w3-text-blue">Đại học Ngoại Thương</a> *@
            </p>

            <p class="w3-large">Với mục đích tăng cường trao đổi thông tin, kết quả nghiên cứu, hợp tác, quản lý trong
              lĩnh vực khoa học xã hội, làm rõ mối quan hệ và những đóng góp của Khoa học xã hội với phát triển bền vững
              của các nhà khoa học trong và ngoài nước, giới thiệu những kết quả và hướng nghiên cứu khoa học mới, thảo
              luận về các xu thế và thách thức mới đối với nhiều lĩnh vực khác nhau của đất nước trong bối cảnh hiện
              nay, Trường Đại học Mỏ - Địa chất phối hợp với một số cơ sở giáo dục đào tạo tổ chức Hội thảo Khoa học
              Quốc gia "Khoa học xã hội với phát triển bền
              vững 2024 (SSSD 2024)"</p>
          </div>
        </div>
      </div>
      <div class="w3-col l6 w3-hide-small" data-aos="fade-right" data-aos-delay="100">
        <div class="w3-row w3-margin-top">
          <div class="d-flex justify-content-center">
            <a href="https://humg.edu.vn/"><img src="images/HUMG_Logo.png" class="w3-circle" alt="HUMG Logo"></a></p>
          </div>
        </div>
        <div class="w3-row w3-row-padding w3-center w3-margin-top">
          <div class="w3-col l4 w3-center">
            <a href="https://fpt.hust.edu.vn/" class="w3-text-blue"><img src="images/HUST_Logo.png"
                class="ud-img-hust-logo" alt="HUST Logo"></a>
          </div>
          <div class="w3-col l4 w3-center">
            <a href="https://pl.tlu.edu.vn/" class="w3-text-blue"><img src="images/TLU_Logo.png"
                class="ud-img-small-logo w3-circle" alt="TLU Logo"></a>
          </div>
          <div class="w3-col l4 w3-center">
            <a href="https://www.utc.edu.vn/gioi-thieu/khoa-ly-luan-chinh-tri" class="w3-text-blue"><img
                src="images/UTC_Logo.png" class="ud-img-small-logo w3-circle" alt="UTC Logo"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>