<div id="BanBienTap" class="w3-row-padding w3-white">
    <div class="w3-row w3-center w3-text-blue">
    <h2>DANH SÁCH BAN BIÊN TẬP VÀ THƯ KÝ</h2>
    <hr>
    </div>
    <div class="w3-row w3-padding">
    <div class="w3-col l12 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/tranthiphucan.jpg" style="height: 15em; width: 15em;" alt="">
        <p><b>--------------------------------------------<br>Trưởng ban<br>TS Trần Thị Phúc An<br>Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    </div>
    <div class="w3-row w3-padding">
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/phimanhphong.jpg" style="height: 15em; width: 15em;" alt="phimanhphong.jpg">
        <p><b>--------------------------------------------<br>TS. Phí Mạnh Phong<br>Phó Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/nguyenthithuhuong.jpg" style="height: 15em; width: 15em;" alt="nguyenthithuhuong.jpg">
        <p><b>--------------------------------------------<br>ThS. Nguyễn Thị Thu Hương<br>Phó Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/ngovanhuong.jpg" style="height: 15em; width: 15em;" alt="ngovanhuong.jpg">
        <p><b>--------------------------------------------<br>TS. Ngô Văn Hưởng<br>Phụ trách BM Triết học và Pháp luật, Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/nguyentuanvuong.jpg" style="height: 15em; width: 15em;" alt="nguyentuanvuong.jpg">
        <p><b>--------------------------------------------<br>ThS. Nguyễn Tuấn Vương<br>Giảng viên Khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    </div>
</div>