<section id="BanBienTap" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>DANH SÁCH BAN BIÊN TẬP VÀ THƯ KÝ</h2>
    </div>
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0 w3-hide-small" data-aos="zoom-in" data-aos-delay="200">
        <div class="member d-flex align-items-start">
          <div><img src="images/tranthiphucan.jpg" class="w3-circle ud-avatar" alt="tranthiphucan.jpg"></div>
          <div class="member-info">
            <h4>TS. Trần Thị Phúc An</h4>
            <span>Trưởng ban</span>
            <p>Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
      </div>

      <div class="col-lg-3 mt-4 w3-hide-large w3-hide-medium" data-aos="zoom-in" data-aos-delay="300">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img 3 class="w3-circle ud-avatar w3-margin-bottom" alt="tranthiphucan.jpg">
            <h4>TS. Trần Thị Phúc An</h4>
            <span>Phó Trưởng ban</span>
            <p>Trưởng khoa, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/phimanhphong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="phimanhphong.jpg">
            <h4>TS. Phí Mạnh Phong</h4>
            <span>Uỷ viên</span>
            <p>Phó Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/nguyenthithuhuong.jpg" class="w3-circle ud-avatar w3-margin-bottom"
              alt="nguyenthithuhuong.jpg">
            <h4>ThS. Nguyễn Thị Thu Hương</h4>
            <span>Uỷ viên</span>
            <p>Phó Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/ngovanhuong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="ngovanhuong.jpg">
            <h4>TS. Ngô Văn Hưởng</h4>
            <span>Uỷ viên</span>
            <p>Phụ trách BM Triết học và Pháp luật, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/nguyentuanvuong.jpg" class="w3-circle ud-avatar w3-margin-bottom"
              alt="nguyentuanvuong.jpg">
            <h4>ThS. Nguyễn Tuấn Vương</h4>
            <span>Uỷ viên</span>
            <p>Giảng viên, Chủ tịch Công đoàn Khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>