<section id="BanKhoaHoc" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>DANH SÁCH BAN KHOA HỌC VÀ PHẢN BIỆN</h2>
    </div>
    <div class="row w3-center">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 col-md-12 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box w3-center">
          <img src="images/tranthiphucan.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="tranthiphucan.jpg">
          <h5 class="w3-text-blue">TS. Trần Thị Phúc An</h5>
          <h5>Trưởng ban</h5>
          <p><span>Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</span></p>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
    <div class="row w3-margin-top">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box w3-center">
          <img src="images/dinhthanhxuan.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="dinhthanhxuan.jpg">
          <h5 class="w3-text-blue">PGS.TS Đinh Thanh Xuân</h5>
          <p><span>Trưởng khoa Lý luận chính trị, Trường Đại học Bách khoa Hà Nội</span></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box w3-center">
          <img src="images/tomanhcuong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="tomanhcuong.jpg">
          <h5 class="w3-text-blue">TS. Tô Mạnh Cường</h5>
          <p><span>Trưởng khoa Lý luận chính trị, Trường Đại học Thuỷ lợi</span></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box w3-center">
          <img src="images/vutiendung.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="vutiendung.jpg">
          <h5 class="w3-text-blue">TS. Vũ Tiến Dũng</h5>
          <p><span>Trưởng khoa Lý luận chính trị, Trường Đại học Xây dựng</span></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box w3-center">
          <img src="images/laquydo.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="laquydo.jpg">
          <h5 class="w3-text-blue">TS. Lã Quý Đô</h5>
          <p><span>Trưởng khoa Lý luận chính trị, Trường Đại học Giao thông vận tải</span></p>
        </div>
      </div>
    </div>
    <div class="row w3-margin-top">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box w3-center">
          <img src="images/thanthihanh.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="thanthihanh.jpg">
          <h5 class="w3-text-blue">TS. Thân Thị Hạnh</h5>
          <p><span>Trưởng khoa Khoa học chính trị và Nhân văn, Trường Đại học Ngoại thương</span></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box w3-center">
          <img src="images/dongthihong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="dongthihong.jpg">
          <h5 class="w3-text-blue">TS. Đông Thị Hồng</h5>
          <p><span>Trưởng khoa Lý luận chính trị, Trường Đại học Lao động - Xã hội</span></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box w3-center">
          <img src="images/leminhthong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="leminhthong.jpg">
          <h5 class="w3-text-blue">PGS.TS. Lê Minh Thống</h5>
          <p><span>Phó Trưởng khoa Kinh tế và Quản trị kinh doanh, Trường Đại học Mỏ - Địa chất</span></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box w3-center">
          <img src="images/phimanhphong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="phimanhphong.jpg">
          <h5 class="w3-text-blue">TS. Phí Mạnh Phong</h5>
          <p><span>Phó Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</span></p>
        </div>
      </div>
    </div>
    <div class="row w3-margin-top">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box w3-center">
          <img src="images/ngovanhuong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="ngovanhuong.jpg">
          <h5 class="w3-text-blue">TS. Ngô Văn Hưởng</h5>
          <p><span>Phụ trách BM Triết học và Pháp luật, Trường Đại học Mỏ - Địa chất</span></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box w3-center">
          <img src="images/dothivanha.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="dothivanha.jpg">
          <h5 class="w3-text-blue">TS. Đỗ Thị Vân Hà</h5>
          <p><span>Giảng viên Khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</span></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box w3-center">
          <img src="images/tranthilanhuong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="tranthilanhuong.jpg">
          <h5 class="w3-text-blue">TS. Trần Thị Lan Hương</h5>
          <p><span>Giảng viên Khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</span></p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box w3-center">
          <img src="images/dangthithanhtram.jpg" class="w3-circle ud-avatar w3-margin-bottom"
            alt="dangthithanhtram.jpg">
          <h5 class="w3-text-blue">TS. Đặng Thị Thanh Trâm</h5>
          <p><span>Giảng viên Khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</span></p>
        </div>
      </div>
    </div>
  </div>
</section>