<section id="BanToChuc" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>DANH SÁCH BAN TỔ CHỨC</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 mt-4 mt-lg-0 w3-hide-small" data-aos="zoom-in" data-aos-delay="100">
        <div class="member d-flex align-items-start">
          <div><img src="images/tranthanhhai.jpg" class="w3-circle ud-avatar" alt="tranthanhhai.jpg"></div>
          <div class="member-info">
            <h4>GS.TS Trần Thanh Hải</h4>
            <span>Trưởng ban</span>
            <p>Hiệu trưởng Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0 w3-hide-small" data-aos="zoom-in" data-aos-delay="200">
        <div class="member d-flex align-items-start">
          <div><img src="images/tranthiphucan.jpg" class="w3-circle ud-avatar" alt="tranthiphucan.jpg"></div>
          <div class="member-info">
            <h4>TS. Trần Thị Phúc An</h4>
            <span>Phó Trưởng ban</span>
            <p>Trưởng khoa, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-4 w3-hide-large w3-hide-medium" data-aos="zoom-in" data-aos-delay="300">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/tranthanhhai.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="tranthanhhai.jpg">
            <h4>GS.TS Trần Thanh Hải</h4>
            <span>Trưởng ban</span>
            <p>Hiệu trưởng Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-4 w3-hide-large w3-hide-medium" data-aos="zoom-in" data-aos-delay="300">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/tranthiphucan.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="tranthiphucan.jpg">
            <h4>TS. Trần Thị Phúc An</h4>
            <span>Phó Trưởng ban</span>
            <p>Trưởng khoa, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/dongocanh.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="dongocanh.jpg">
            <h4>PGS.TS Đỗ Ngọc Anh</h4>
            <span>Uỷ viên</span>
            <p>Trưởng phòng Khoa học Công nghệ, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/dinhthanhxuan.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="dinhthanhxuan.jpg">
            <h4>PGS.TS Đinh Thanh Xuân</h4>
            <span>Uỷ viên</span>
            <p>Trưởng khoa Lý luận chính trị, Trường Đại học Bách khoa Hà Nội</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/tomanhcuong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="tomanhcuong.jpg">
            <h4>TS. Tô Mạnh Cường</h4>
            <span>Uỷ viên</span>
            <p>Trưởng khoa Lý luận chính trị, Trường Đại học Thuỷ lợi</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/laquydo.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="laquydo.jpg">
            <h4>TS. Lã Quý Đô</h4>
            <span>Uỷ viên</span>
            <p>Trưởng khoa Lý luận chính trị, Trường Đại học Giao thông vận tải</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/thanthihanh.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="thanthihanh.jpg">
            <h4>TS. Thân Thị Hạnh</h4>
            <span>Uỷ viên</span>
            <p>Trưởng khoa Khoa học chính trị và Nhân văn, Trường Đại học Ngoại thương</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/leminhthong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="leminhthong.jpg">
            <h4>PGS.TS. Lê Minh Thống</h4>
            <span>Uỷ viên</span>
            <p>Phó Trưởng khoa Kinh tế và Quản trị kinh doanh, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/phimanhphong.jpg" class="w3-circle ud-avatar w3-margin-bottom" alt="phimanhphong.jpg">
            <h4>TS. Phí Mạnh Phong</h4>
            <span>Uỷ viên</span>
            <p>Phó Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-4" data-aos="zoom-in" data-aos-delay="400">
        <div class="member d-flex align-items-start">
          <div class="member-info">
            <img src="images/nguyenthithuhuong.jpg" class="w3-circle ud-avatar w3-margin-bottom"
              alt="nguyenthithuhuong.jpg">
            <h4>ThS. Nguyễn Thị Thu Hương</h4>
            <span>Uỷ viên</span>
            <p>Phó Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>