<div id="BanToChuc" class="w3-row-padding w3-white">
    <div class="w3-row w3-center w3-text-blue">
    <h2>DANH SÁCH BAN TỔ CHỨC</h2>
    <hr>
    </div>
    <div class="w3-row w3-padding">
    <div class="w3-col l6 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/tranthanhhai.jpg" style="height: 15em; width: 15em;" alt="">
        <p><b>--------------------------------------------<br>Trưởng ban<br>GS.TS Trần Thanh Hải<br>Hiệu trưởng Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    <div class="w3-col l6 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/tranthiphucan.jpg" style="height: 15em; width: 15em;" alt="">
        <p><b>--------------------------------------------<br>Phó Trưởng ban<br>TS Trần Thị Phúc An<br>Trưởng khoa, Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    </div>
    <div class="w3-row w3-padding">
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/dongocanh.jpg" style="height: 15em; width: 15em;" alt="">
        <p><b>--------------------------------------------<br>PGS.TS Đỗ Ngọc Anh<br>Trưởng phòng Khoa học Công nghệ, Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/dinhthanhxuan.jpg" style="height: 15em; width: 15em;" alt="dinhthanhxuan.jpg">
        <p><b>--------------------------------------------<br>PGS.TS Đinh Thanh Xuân<br>Trưởng khoa Lý luận chính trị, Trường Đại học Bách khoa Hà Nội</b></p>
    </div>
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/tomanhcuong.jpg" style="height: 15em; width: 15em;" alt="tomanhcuong.jpg">
        <p><b>--------------------------------------------<br>TS. Tô Mạnh Cường<br>Trưởng khoa Lý luận chính trị, Trường Đại học Thuỷ lợi</b></p>
    </div>
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/laquydo.jpg" style="height: 15em; width: 15em;" alt="laquydo.jpg">
        <p><b>--------------------------------------------<br>TS. Lã Quý Đô<br>Trưởng khoa Lý luận chính trị, Trường Đại học Giao thông vận tải</b></p>
    </div>
    </div>
    <div class="w3-row w3-padding">
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/thanthihanh.jpg" style="height: 15em; width: 15em;" alt="thanthihanh.jpg">
        <p><b>--------------------------------------------<br>TS. Thân Thị Hạnh<br>Trưởng khoa Khoa học chính trị và Nhân văn, Trường Đại học Ngoại thương</b></p>
    </div>
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/leminhthong.jpg" style="height: 15em; width: 15em;" alt="leminhthong.jpg">
        <p><b>--------------------------------------------<br>PGS.TS. Lê Minh Thống<br>Phó Trưởng khoa Kinh tế và Quản trị kinh doanh, Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/phimanhphong.jpg" style="height: 15em; width: 15em;" alt="phimanhphong.jpg">
        <p><b>--------------------------------------------<br>TS. Phí Mạnh Phong<br>Phó Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    <div class="w3-col l3 w3-center">
        <img class="w3-circle w3-padding w3-border" src="./images/nguyenthithuhuong.jpg" style="height: 15em; width: 15em;" alt="nguyenthithuhuong.jpg">
        <p><b>--------------------------------------------<br>ThS. Nguyễn Thị Thu Hương<br>Phó Trưởng khoa Lý luận chính trị, Trường Đại học Mỏ - Địa chất</b></p>
    </div>
    </div>
</div>