<div class="w3-row-padding w3-padding-32 w3-container w3-red">
    <div class="w3-text-white w3-content">
    <h1 class="w3-center">Các vấn đề nghiên cứu</h1>
    <hr>
    <div class="topic w3-row">
        <div class="w3-col l2 s3">
        <div class="circle"><b>Topic 1</b></div>
        </div>
        <div class="w3-col l10 s9">
        <h2>Những vấn đề lý luận về phát triển bền vững</h2>
        <ul>
            <li>Quá trình nhận thức của Đảng Cộng sản Việt Nam về sự phát triển bền vững.</li>
            <li>Khái niệm và các mục tiêu phát triển bền vững.</li>
            <li>Phát triển bền vững của Việt Nam trong quá trình hội nhập quốc tế và toàn cầu hóa.</li>
            <li>Sự phát triển bền vững - Kinh nghiệm của thế giới và những bài học cho Việt Nam.</li>
        </ul>
        </div>
    </div>
    <div class="topic w3-row">
        <div class="w3-col l10 s9">
        <h2>Những vấn đề kinh tế với phát triển bền vững.</h2>
        <ul>
            <li>Vấn đề xóa đói giảm nghèo với phát triển bền vững.</li>
            <li>Vấn đề đảm bảo an ninh lương thực và cải thiện dinh dưỡng, phát triển nông nghiệp bền vững.</li>
            <li>Vấn đề tăng trưởng kinh tế với phát triển bền vững.</li>
            <li>Xây dựng cơ sở hạ tầng vững chắc, đẩy mạnh công nghiệp hóa rộng mở và bền vững.</li>
        </ul>
        </div>
        <div class="w3-col l2 s3 w3-centered">
        <div class="circle"><b>Topic 2</b></div>
        </div>
    </div>
    <div class="topic w3-row">
        <div class="w3-col l2 s3">
        <div class="circle"><b>Topic 3</b></div>
        </div>
        <div class="w3-col l10 s9">
        <h2>Những vấn đề văn hóa, xã hội với phát triển bền vững</h2>
        <ul>
            <li>Thực hiện bình đẳng giới.</li>
            <li>Giáo dục đạo đức, pháp luật cho sinh viên với sự phát triển bền vững.</li>
            <li>Vấn đề an ninh, quốc phòng và sự phát triển bền vững.</li>
            <li>Đảm bảo giáo dục chất lượng, rộng mở, công bằng và nâng cao cơ hội học tập suốt đời cho tất cả mọi người.</li>
            <li>Bảo vệ môi trường; bảo tồn và sử dụng bền vững các nguồn tài nguyên thiên nhiên.</li>
            <li>Giữ gìn và phát huy những giá trị văn hóa của dân tộc với sự phát triển bền vững.</li>
        </ul>
        </div>
    </div>
    </div>
</div>