<div id="DVTC" class="w3-row-padding w3-padding-16 w3-white w3-text-blue">
    <div class="w3-content w3-center">
    <div class="w3-container">
        <h1>Đơn vị tổ chức: <a href="https://humg.edu.vn/Pages/home.aspx">Trường Đại học Mỏ - Địa chất (HUMG)</a></h1>
    </div>
    <img src="./images/humg.jpg" alt="" class="w3-xxxlarge" style="width:100%">
    </div>
</div>