<section id="TheLeGuiBai" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Thể lệ gửi bài</h2>

    </div>
    <div>
      <b>Quy định chung:</b>
      <ul>
        <li>Các báo cáo gửi Hội thảo khoa học quốc gia “Khoa học xã hội với phát triển bền vững
          2024” là bài chưa công bố, chưa được gửi đăng trên bất kì một kênh thông tin, ấn phẩm khoa học nào khác. Tác
          giả
          có trách nhiệm không gửi đăng bài tới các Tạp chí, Hội thảo khoa học khi chưa có thông báo từ chối nhận đăng
          của
          Ban Tổ chức Hội thảo. Tác giả nộp bản thảo dạng tệp số (digital file) định dạng .doc/.docx cho Ban Thư ký qua
          email.</li>
        <li>Các bài viết gửi tới Hội thảo sẽ được phản biện, thẩm định về nội dung khoa học. Những báo cáo có chất lượng
          tốt sẽ được Ban Tổ chức lựa chọn in trong cuốn Kỷ yếu Hội thảo khoa học Quốc gia có tên “Khoa học xã hội với
          phát triển bền vững 2024 (SSSD 2024)” (có chỉ số ISBN).</li>
        <li>Kinh phí đăng bài và tham dự Hội thảo: <b>500.000 VNĐ</b>.</li>
      </ul>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
            data-bs-target="#faq-list-1">Hội thảo được tổ chức ở đâu?<i class="bx bx-chevron-down icon-show"></i><i
              class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              Trường Đại học Mỏ - Địa chất, Số 18 Phố Viên, Phường Đức Thắng, Quận Bắc Từ Liêm, Hà Nội.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
            class="collapsed">Ngôn ngữ nào được sử dụng để viết bài báo? <i class="bx bx-chevron-down icon-show"></i><i
              class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Bài báo được viết bằng tiếng Việt.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
            class="collapsed">Quy cách, kích thước khổ giấy khi viết bài? <i class="bx bx-chevron-down icon-show"></i><i
              class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Bài viết được soạn trên Microsoft Word (mã Unicode, font Times New Roman), font size 13, giãn dòng
              1.5lines, cách đoạn 6pt, lề trên 2.5cm, lề dưới 2.5cm, lề trái 3cm, lề phải 3cm, khổ giấy A4, không quá 10
              trang (kể cả bảng, đồ thị và tài liệu tham khảo).
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
            class="collapsed">Quy định về cấu trúc bài viết? <i class="bx bx-chevron-down icon-show"></i><i
              class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p> <b class="w3-text-blue">&#10003;</b>
              Tên bài (viết in hoa đậm): Ngắn gọn, rõ ràng và phản ánh được nội dung chính của bài viết (không nên quá 3
              dòng).
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              Họ và tên tác giả (được viết đậm, nghiêng): Tác giả chính viết trước, tên đơn vị công tác.
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              Tóm tắt (viết in đậm): Được viết gọn thành một đoạn văn (khoảng 150-200 từ) phản ánh khai quát những nội
              dung chính và đóng góp của công trình nghiên cứu.
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              Từ khóa (in đậm): Thể hiện được đặc trưng cho chủ đề của bài viết. Tác giả cần đưa ra 3 đến 5 từ khóa và
              được sắp xếp theo thứ tự alphabet.
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              MỞ ĐẦU/ĐẶT VẤN ĐỀ (In hoa thường): Phần này cần nêu được lý do lựa chọn vấn đề hay tính thời sự của vấn đề
              nghiên cứu; nội dung chính mà bài viết sẽ tập trung giải quyết.
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              NỘI DUNG (In hoa thường): Những nội dung nghiên cứu đã thực hiện
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              KẾT LUẬN (In hoa thường): Tùy theo mục tiêu nghiên cứu đã nêu ở phần Mở đầu/Đặt vấn đề mà tác giả đưa ra
              kết luận hoặc giải pháp, khuyến nghị phù hợp.
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              TÀI LIỆU THAM KHẢO (In hoa thường): được trình bày ở cuối tham luận. Chỉ liệt kê những tài liệu được trích
              dẫn trong tham luận; được sắp xếp theo thứ tự ABC theo tên của tác giả nếu là người Việt Nam, theo họ nếu
              là người nước ngoài, nếu nhiều tác giả thì theo tên của tác giả đầu tiên, nếu là cơ quan, tổ chức thì theo
              chữ cái đầu tiên.
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              Thông tin tác giả: Tên tác giả; Điện thoại liên hệ; Email.
            </p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="500">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
            class="collapsed">Quy định về trích dẫn Tài liệu tham khảo? <i class="bx bx-chevron-down icon-show"></i><i
              class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p> <b class="w3-text-blue">&#10003;</b>
              Trích dẫn tại bài theo dạng: [3, tr.25], (3 là số thứ tự tài liệu, tr.25 là số trang trích dẫn)
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="600">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6"
            class="collapsed">Quy định về liệt kê Tài liệu tham khảo? <i class="bx bx-chevron-down icon-show"></i><i
              class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
            <p> <b class="w3-text-blue">&#10003;</b>
              Bài báo đăng trên tạp chí: [1] Tên tác giả (năm xuất bản), Tên bài báo, Tên tạp chí (in nghiêng) tập (kỳ),
              từ trang…đến trang...
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              Bài báo hội thảo: [2] Tên tác giả (năm xuất bản), Tên bài báo, Tên Hội nghị, Hội thảo (in nghiêng), ngày
              và nơi họp, nơi xuất bản, từ trang… đến trang…
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              Sách tham khảo: [3] Tên tác giả, người biên tập (nếu có) (năm xuất bản), Tựa sách đầy đủ (kể cả tựa con,
              nếu có, in nghiêng), Tập (nếu có), lần tái bản (nếu có), nhà xuất bản và nơi xuất bản (thành phố, quốc
              gia) và số trang đã tham khảo hoặc số trang của cuốn sách nếu tham khảo toàn bộ.
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              Báo cáo khoa học: [4] Tên tác giả (năm xuất bản), Tên báo cáo, Loại báo cáo (in nghiêng), nơi họp, nơi
              xuất bản, và số trang đã tham khảo hoặc số trang của báo cáo nếu tham khảo toàn bộ.
            </p>
            <p> <b class="w3-text-blue">&#10003;</b>
              Luận văn tốt nghiệp, Luận văn Thạc sĩ, Luận án Tiến sĩ: [5] Tên tác giả (năm xuất bản), Tên luận văn, luận
              án (in nghiêng), Loại luận văn, luận án, nơi xuất bản, số trang đã tham khảo hoặc số trang của luận văn,
              luận án nếu là tham khảo toàn bộ.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>