<section id="ThongBao" class="portfolio section-bg">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="section-title">
      <h2>Thông báo</h2>
    </div>
    <div class="w3-content w3-display-container w3-center">
      <div class="w3-display-container mySlides">
        <img class="w3-border w3-card-4" style="width:100%" src="images/ThongBao1.png">
        <div class="w3-display-bottom w3-large w3-container w3-padding-16">
          1/4
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <img class="w3-border w3-card-4" style="width:100%" src="images/ThongBao2.png">
        <div class="w3-display-bottom w3-large w3-container w3-padding-16">
          2/4
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <img class="w3-border w3-card-4" style="width:100%" src="images/ThongBao3.png">
        <div class="w3-display-bottom w3-large w3-container w3-padding-16">
          3/4
        </div>
      </div>

      <div class="w3-display-container mySlides">
        <img class="w3-border w3-card-4" style="width:100%" src="images/ThongBao4.png">
        <div class="w3-display-bottom w3-large w3-container w3-padding-16">
          4/4
        </div>
      </div>
      <button class="w3-button w3-display-left w3-blue" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-display-right w3-blue" onclick="plusDivs(1)">&#10095;</button>
    </div>
  </div>
</section>
<script>
  var slideIndex = 1;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs(slideIndex += n);
  }

  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) { slideIndex = 1 }
    if (n < 1) { slideIndex = x.length }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }
</script>