
.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 2em;
  padding: 0 2em;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  background: rgb(126, 0, 243);
  transform: translateY(-50%);
  z-index: 1;
}

.timeline-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
  flex: 1;
  max-width: 150px;
}

.timeline-item::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: blue;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.timeline-time {
  font-size: 1.2em;
  margin-bottom: 3em;
  font-weight: bold;
}

.timeline-event {
  font-size: 0.9em;
  color: #555;
}

.days-left {
  position: absolute;
  top: 100%;
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(255, 149, 0);
}

/* vertical time-line */
body { margin-top: 20px; }

.ver-time-line {
    border-left: 3px solid blueviolet;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: white;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

@media (max-width: 767px) {
    .ver-time-line {
        max-width: 98%;
        padding: 25px;
    }
}

.ver-time-line h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.ver-time-line h2,
.ver-time-line h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
    color: rgb(0, 0, 70);
}

.ver-time-line .event {
    /* border-bottom: 1px dashed #e8ebf1; */
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .ver-time-line .event {
        padding-top: 30px;
    }
}

.ver-time-line .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.ver-time-line .event:before,
.ver-time-line .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.ver-time-line .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: bold;
    font-size: 0.9em;
    min-width: 120px;
    color: red;
}

@media (max-width: 767px) {
    .ver-time-line .event:before {
        left: 0px;
        text-align: left;
    }
}

.ver-time-line .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .ver-time-line .event:after {
        left: -31.8px;
    }
}

.rtl .ver-time-line {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .ver-time-line .event::before {
    left: 0;
    right: -170px;
}

.rtl .ver-time-line .event::after {
    left: 0;
    right: -55.8px;
}
.ver-days-left {
  top: 100%;
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(255, 149, 0);
  position: relative;
}