.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Để tạo hình tròn */
  background-color: white;
  color: blue;
  text-align: center; /* Để căn giữa văn bản */
  line-height: 100px; /* Để căn giữa văn bản */
}

.topic {
  margin-bottom: 30px;
  display: flex; /* Sử dụng flexbox */
  align-items: center; /* Căn giữa theo chiều dọc */
}

.topic h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.topic ul {
  list-style-type: none;
  padding: 0;
}

.topic ul li {
  margin-bottom: 10px;
}

.topic ul li:before {
  content: "\2022"; /* Thêm dấu đạn trước mỗi mục */
  color: #f39c12; /* Màu của dấu đạn */
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.topic ul li {
  margin-left: 20px; /* Khoảng cách giữa dấu đạn và nội dung */
}
